:root {
    --main-font: Helvetica, sans-serif;
 
}

/*General styles*/
* {
    margin: 15px;
    text-align: start;
    color: rgb(32, 14, 1);
}

body {
    background-color: rgba(252, 246, 237, 0.282);
    margin: 30px;
}

.photoAndName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primaryContent img {
    max-width: 250px;
}

.primaryContent h1 {
    font-size: 42px;
    font-family: var(--main-font);
    text-align: end;
}

.contactInfo {
/*Add the code for contact info*/
}

.introAndSkillsSection {
    /*add the code for intro and skills section*/
}

.experienceSection {
/*add the code for experience section*/
}

.additionalInfoSection {
    /*code for additional info section*/
}

